[access]
	inheritFrom = All-Projects
[project]
	description = Sample code of using OpenLDAP client library mostly in C++.
[access "refs/*"]
	owner = group user/Yang Yang (yyang-even)
[access "refs/for/refs/*"]
	read = group user/Yang Yang (yyang-even)
	push = group user/Yang Yang (yyang-even)
	label-Code-Review = -2..+2 group user/Yang Yang (yyang-even)
	label-Verified = -1..+1 group user/Yang Yang (yyang-even)
	rebase = group user/Yang Yang (yyang-even)
	removeReviewer = group user/Yang Yang (yyang-even)
	submit = group user/Yang Yang (yyang-even)
[access "refs/heads/*"]
	read = group user/Yang Yang (yyang-even)
	create = group user/Yang Yang (yyang-even)
	push = +force group user/Yang Yang (yyang-even)
	pushMerge = group user/Yang Yang (yyang-even)
[access "refs/tags/*"]
	push = group user/Yang Yang (yyang-even)
	push = +force group user/Yang Yang (yyang-even)
